---
---

<div class=" top-20 left-12 hidden m-0 sm:flex gap-10 sm:static sm:w-auto sm:bg-transparent">
  <a class="block text-center py-2.5 no-underline text-lg hover:text-gray-500 font-bold uppercase  sm:inline-block" href="/">Home</a>
  <a class="block text-center py-2.5 no-underline text-lg hover:text-gray-500 font-bold uppercase  sm:inline-block" href="/about">About</a>
  <a class="block text-center py-2.5 no-underline text-lg hover:text-gray-500 font-bold uppercase  sm:inline-block" href="/blog">Blog</a>
</div>